:root {
  --c-white: #fff;
  --c-bg: #fffdf6;
  --c-brown: #52370c;
  --c-gray: #c4c4c4;
  --c-green: #0c4b2d;
  --c-orange: #e07c2c;
  /* --f-title: "Raleway", sans-serif; */
  --f-title: "Nunito", sans-serif;
  --f-en: "Nunito", sans-serif;
  --f-jp: "Zen Maru Gothic", sans-serif;
  --f-h1: 40px;
  --f-h2: 26px;
  --f-l: 22px;
  --f-m: 18px;
  --f-s: 14px;
  font-size: var(--f-m);
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: #fff;
  top: 0;
  z-index: 100;
  background-color: var(--c-bg);
}

.bg.-visible:before {
  transform: translate(0, 0);
}

.bg:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c-green);
  transform: translate(0, 100%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  content: "";
}

/* テキストのスタイル */
.title {
  display: block;
  color: var(--c-white);
  text-align: center;
  font-family: var(--f-en);
}

.title span {
  display: block;
  opacity: 0;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s,
    opacity linear 0.7s;
}

.title span:first-child {
  transform: translate(0, 40px);
  font-size: 20px;
  transition-delay: 0.25s;
}

.title span:last-child {
  margin-top: 18px;
  transform: translate(0, 30px);
  font-size: 48px;
  transition-delay: 0.45s;
}

.bg.-visible .title span {
  opacity: 1;
  transform: translate(0, 0);
}

body {
  background-color: var(--c-bg);
  padding-top: 40px;
  padding-bottom: 60px;
  color: var(--c-brown);
}

section {
  margin-bottom: 60px;
}

img {
  object-fit: contain;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-size: var(--f-h1);
  color: var(--c-green);
  font-weight: bold;
  font-family: var(--f-title);
  margin-bottom: 24px;
}

h2 {
  font-size: var(--f-h2);
  font-weight: bold;
  margin-bottom: 20px;
}

h2.nishiwaki,
h2.tanaka {
  position: relative;
  border-bottom: 5px solid;
  display: inline-block;
  color: var(--c-brown);
  padding-bottom: 4px;
}

h2.nishiwaki::before,
h2.tanaka::before {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 5px solid;
  bottom: -5px;
  width: 60%;
}

h2.nishiwaki,
h2.tanaka::before {
  border-color: var(--c-orange);
}

h2.nishiwaki::before,
h2.tanaka {
  border-color: var(--c-green);
}

.fade-in {
  opacity: 0.1;
  transform: translate(0, 50px);
  transition: all 500ms;
}
.fade-in.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.top-fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

.top-header.top-fade-in:nth-child(1) {
  animation-delay: 5.5s;
}
.top-header.top-fade-in:nth-child(2) {
  animation-delay: 6s;
}
.top-header.top-fade-in:nth-child(3) {
  animation-delay: 6.5s;
}
.top-footer.top-fade-in:nth-child(1) {
  animation-delay: 7.5s;
}
.top-footer.top-fade-in:nth-child(2) {
  animation-delay: 8s;
}

.handwriting {
  width: 100%;
}

.carousel-item {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--c-brown);
  border-radius: 20px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  background: linear-gradient(#105433 0%, #60be91 100%);
}

a.link {
  background-color: var(--c-white);
}

a.link,
button {
  color: var(--c-white);
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 8px 20px;
  user-select: none;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
}

a.link:hover,
button {
  text-decoration: none !important;
  box-shadow: none;
}

a.link::before,
button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-image: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 75%
  );
  -webkit-animation: shine 2s infinite;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  100% {
    left: 100%;
  }
}

@keyframes shine {
  100% {
    left: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 32px;
}

form input {
  border-radius: 20px;
  padding: 6px 12px;
  border: 1.5px solid var(--c-brown);
  background-color: var(--c-white);
}

form input::placeholder {
  color: rgba(82, 55, 12, 0.6);
}

button {
  border: none;
  width: fit-content;
  margin: 0 auto;
}

.en {
  color: var(--c-green);
  font-family: var(--f-en);
}

.jp {
  font-family: var(--f-jp);
}

.nishiwaki {
  color: var(--c-green);
}

.tanaka {
  color: var(--c-orange);
}

h3 {
  font-size: var(--f-l);
  font-weight: bold;
  margin-bottom: 0;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.profile-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.profile {
  font-family: var(--f-jp);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  max-width: 350px;
}

.profile .profile-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile .profile-list .data {
  display: flex;
}

.profile .profile-list .data .prop {
  width: 130px;
  margin-right: 8px;
}

.profile .childhood {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.profile p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .profile-wrapper {
    flex-direction: row;
    align-items: unset;
    gap: 48px;
  }
}
