:root {
  --c-bg: #fffdf6;
  --c-brown: #52370c;
  --c-gray: #c4c4c4;
  --c-green: #0c4b2d;
  --c-orange: #e07c2c;
  --f-title: "Raleway", sans-serif;
  --f-en: "Nunito", sans-serif;
  --f-jp: "Zen Maru Gothic", sans-serif;
  --f-h1: 32px;
  --f-h2: 24px;
  --f-l: 20px;
  --f-m: 16px;
  --f-s: 12px;
}

body {
  background-color: var(--c-bg);
  padding: 40px 0;
  color: var(--c-brown);
}

section {
  margin-bottom: 60px;
}

h1 {
  text-align: center;
  font-size: var(--f-h1);
  color: var(--c-green);
  font-weight: bold;
  font-family: var(--f-title);
  margin-bottom: 24px;
}

h2 {
  font-size: var(--f-h2);
  font-weight: bold;
  margin-bottom: 16px;
}

.en {
  color: var(--c-green);
  font-family: var(--f-en);
}

.jp {
  font-family: var(--f-jp);
}

.nishiwaki {
  color: var(--c-green);
}

.tanaka {
  color: var(--c-orange);
}

h3 {
  font-size: var(--f-l);
  font-weight: bold;
  margin-bottom: 0;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.profile {
  font-family: var(--f-jp);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  max-width: 350px;
}

.profile .profile-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile .profile-list .data {
  display: flex;
}

.profile .profile-list .data .prop {
  width: 130px;
  margin-right: 8px;
}

.profile .childhood {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .profile-wrapper {
    flex-direction: row;
    align-items: unset;
    gap: 48px;
  }
}
